{% extends "bmon/base.html" %}

{% block content %}

<div class="block-connects">
{% for connect in blockconnects %}
  <div class="block-connect">
    <div class="card-title">
      block {{ connect.height }} 
    </div>
    <div class="stats">

      <div class="stat">
        <div class="title">date</div> 
        <div class="value">{{ connect.date.date.isoformat }}<br />{{ connect.date.time.isoformat }}</div>
      </div>

      <div class="stat">
        <div class="title">saw at</div> 
        <div class="value">{{ connect.min_dt.date.isoformat }}<br />{{ connect.min_dt.time.isoformat }}</div>
      </div>

      <div class="stat">
        <div class="title">saw block at diffs</div> 
        <div class="value diffs">
          <table>
            {% for host, diff in connect.diffs.items %}
            <tr><td>{{ host }}</td><td>{{ diff | floatformat:4 }} sec</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <div class="stat">
        <div class="title">stddev</div> 
        <div class="value">± {{ connect.stddev_got_time | floatformat:4 }} sec</div>
      </div>

    </div>
  </div>
{% endfor %}
</div>

<div class="hosts">
{% for host in hosts %}
  <div class="host">
    <div class="card-title">
      host {{ host.name }} {% if host.chaininfo.chain != 'main' %} ({{ host.chaininfo.chain }}) {% endif %}
    </div>
    <div class="stats">

      <div class="stat">
        <div class="title">version</div> 
        <div class="value">{{ host.bitcoin_version }}</div>
      </div>

      <div class="stat">
        <div class="title">height</div> 
        <div class="value">{{ host.chaininfo.blocks }} ({{ host.chaininfo.bestblockhash | slice:":6" }})</div>
      </div>

      <div class="stat">
        <div class="title">pruned?</div> 
        <div class="value">{{ host.chaininfo.pruned }}</div>
      </div>

      {% if host.peers %}
      <div class="stat">
        <div class="title">peers</div> 
        <div class="value diffs">
          <table>
            {% for addr, subver in host.peers.items %}
            <tr><td>{{ addr }}</td><td>{{ subver }}</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
