[Unit]
Description=bmon bitcoind host

[Service]
Type=oneshot
WorkingDirectory=${bmon_dir}
StandardOutput=journal
RemainAfterExit=true

# Shut down if already running
ExecStart=${docker_compose_path} --profile bitcoind --profile prod up -d --remove-orphans
ExecStop=${docker_compose_path} --profile bitcoind --profile prod down

[Install]
WantedBy=default.target
