[Unit]
Description=bmon server

[Service]
Type=oneshot
WorkingDirectory=${bmon_dir}
StandardOutput=journal
RemainAfterExit=true

ExecStart=${docker_compose_path} --profile server --profile prod -d --remove-orphans
ExecStop=${docker_compose_path} --profile server --profile prod stop

[Install]
WantedBy=default.target
