[Unit]
Description=bmon bitcoind host

[Service]
Type=oneshot
WorkingDirectory=${bmon_dir}
StandardOutput=journal
RemainAfterExit=true

Environment="COMPOSE_PROFILES=bitcoind,prod,prod-bitcoind"
ExecStart=${docker_compose_path} up -d --remove-orphans
ExecStop=${docker_compose_path} stop

[Install]
WantedBy=default.target
