[Unit]
Description=bmon bitcoind host
Requires=docker.service
After=docker.service

[Service]
Type=simple
User={user}
WorkingDirectory={bmon_dir}
StandardOutput=journal

# Shut down if already running
ExecStartPre={docker_compose_path} -f docker-compose.bitcoind.yml up
ExecStart={docker_compose_path} -f docker-compose.bitcoind.yml up
ExecStop={docker_compose_path} -f docker-compose.bitcoind.yml down

[Install]
WantedBy=multi-user.target
