[Unit]
Description=bmon server

[Service]
Type=oneshot
WorkingDirectory=${bmon_dir}
StandardOutput=journal
RemainAfterExit=true

Environment="COMPOSE_PROFILES=server,prod"
ExecStart=${docker_compose_path} up -d --remove-orphans
ExecStop=${docker_compose_path} rm -fs

[Install]
WantedBy=default.target
