<html>

<head>
  <style>
table td {
  margin-right: 4px;
}

  </style>
</head>

<h1>Tips</h1>

<table>
<tr>
  <th></th>
  <th>Height</th>
  <th>Hostname</th>
  <th>Version</th>
  <th>Header-to-tip (s)</th>
  <th>Header-to-block (s)</th>
  <th>Block-to-tip (s)</th>
</tr>
{% for event in events %}
<tr>
  <td>{{ event.saw_header_at }}</td>
  <td><a href="https://mempool.space/block/{{ event.blockhash }}">{{ event.height }}</a></td>
  <td>{{ event.host.name }}</td>
  <td>{{ event.host.bitcoin_gitref or event.host.bitcoin_version }}</td>
  <td>{{ event.header_to_tip_secs }}</td>
  <td>{{ event.header_to_block_secs }}</td>
  <td>{{ event.block_to_tip_secs }}</td>
</tr>
{% endfor %}


</table>

</html>
